body {
    margin: 0 auto;
    margin-top: 10vh;
    color: white;
    text-align: center;
    min-height: 80vh;
    /* max-height: 800px; */
    
    background: rgba(173,0,3,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(173,0,3,1) 0%, rgba(173,0,3,1) 20%, rgba(143,0,2,1) 48%, rgba(107,0,2,1) 77%, rgba(107,0,2,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(173,0,3,1)), color-stop(20%, rgba(173,0,3,1)), color-stop(48%, rgba(143,0,2,1)), color-stop(77%, rgba(107,0,2,1)), color-stop(100%, rgba(107,0,2,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(173,0,3,1) 0%, rgba(173,0,3,1) 20%, rgba(143,0,2,1) 48%, rgba(107,0,2,1) 77%, rgba(107,0,2,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(173,0,3,1) 0%, rgba(173,0,3,1) 20%, rgba(143,0,2,1) 48%, rgba(107,0,2,1) 77%, rgba(107,0,2,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(173,0,3,1) 0%, rgba(173,0,3,1) 20%, rgba(143,0,2,1) 48%, rgba(107,0,2,1) 77%, rgba(107,0,2,1) 100%);
    background: radial-gradient(ellipse at center, rgba(173,0,3,1) 0%, rgba(173,0,3,1) 20%, rgba(143,0,2,1) 48%, rgba(107,0,2,1) 77%, rgba(107,0,2,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad0003', endColorstr='#6b0002', GradientType=1 );
}

#heading {
    margin-top: 0vh;
    /* border: solid 1px green; */
}

#welcome {
    margin-top: 22vh;
    text-decoration: ;
    /* border: solid 1px green; */

}

#about {
    text-decoration: ;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    /* border: solid 1px green; */

}

/* Form Elements */

#passGen {
    margin: 0 auto;
    margin-top: 10vh;
    max-width: 500px;
    /* border: solid 1px green; */

}

#output, #btn, #lenLabel, #length {
    text-align: center;
    font-size: 1.5em;
}

#output, #btn {
    margin: 0 auto;
    border-radius: 5px;
}

#output {
    margin-bottom: 10px;
    width: 400px;
    padding: 10px 0;
}

#btn {
    width: 220px;
    padding: 7px 0;
    border-radius: 7px;
    background-color: #499bea;
}

#lenLabel {
    float: left;
    margin-left: 50px;
}

#length {
    float: right;
    margin-right: 50px;
    width: 40px;
    border-radius: 10px;
}

/* Tooltip for Copy to clipboard */

.tooltip {
    position: relative;
    /* display: inline-block; */
    width: 200px;
    margin: 0 auto;
    margin-top: 80px;
    /* border: solid 1px green; */
}

.tooltip button {
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1em;   
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    /* border: solid 1px green; */

}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}